<!-- header -->
<header>
  <div class="text-center pt-5 mt-5 px-4 border-bottom">
    <h1 class="display-4 fw-bold">{{ this.blog.title }}</h1>
    <div class="text-center">
      <span class="badge badge-pill badge-primary">{{
        this.blog.blogCategory.title
      }}</span>
    </div>
    <div class="col-lg-6 mx-auto">
      <div class="lead mb-4" [innerHTML]="this.blog.content"></div>
      <div class="mb-5 d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-outline-secondary btn-lg" href="blogs">
          <i class="fa-solid fa-caret-right"></i> Diğer Konular
        </a>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-5">
          <img
            src="{{ this.urlForImg }}Upload/Blogs/{{ blog.coverImgUrl }}"
            class="img-fluid border rounded-3 shadow-lg mb-4"
            width="700"
            height="500"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</header>
