<app-blank pageName="Ana Sayfa">
  <app-section sectionTitle="Doküman Paylaşımı ve UI Friendly içerik yönetimi">
    <p>
      Kullanıcı tarafında ana sayfanın en altında iki satır olacak şekilde her
      satırda 3 kart bulunacak şekilde tasarım yapılmıştır. <br />
      Bu kartlara, admin tarafından eklenen blog ve dokümanlar içerisinde
      <strong>
        "Öne çıkarılsın" işaretlenen her çeşitten son 3 adet
        sergilenmekte.</strong
      >
      <br />
      <summary class="text-danger text-bold ms-5 mt-3">
        Dolayısıyla eklenen blogların ve dokümanların en az 3 tanesi öne
        çıkarılması tasarım açısından daha sağlıklı olacaktır.
      </summary>
    </p>
  </app-section>
</app-blank>
