.ataberk {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.cihan {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.navbar {
  background: #085e78;
}

@media (max-width: 768px) {
  .cihan h2 {
    padding-left: 35px;
    text-align: center; /* Mobilde başlık ve yazıyı ortalar */
  }
  .cihan h2 span {
    display: block; /* Span'ı blok elemanı yaparak alt alta getirir */
    margin-top: 5px; /* Araya boşluk ekler */
  }
  #pipe {
    display: none;
  }

  .cihan h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alt alta ve sola hizalı yapar */
  }

  .cihan h2 span {
    display: block;
    font-size: 1rem; /* h2 büyük olduğundan span daha küçük görünür */
    margin-left: 0; /* Sol boşluk olmasın */
  }
}
