<div class="container-fluid navbar">
  <div class="container my-0 py-0 text-start">
    <a href="index.html" class="cihan"
      ><h2>
        Cihan Gökpınar<span class="title"
          ><span id="pipe"> | </span>SAP FI Danışmanı</span
        >
      </h2></a
    >
  </div>
  <div class="me-auto d-none d-md-block">
    <a class="text-white" href="https://www.linkedin.com/in/cihangokpinar/"
      ><i class="fa-brands fa-linkedin-in fa-2xl"></i
    ></a>
  </div>
</div>
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container px-5">
    <a href="index.html" class="navbar-brand">
      <i class="fa-solid fa-house fa-lg"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobile"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="mobile" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto text-center">
        <li class="nav-item">
          <a id="home" href="index.html" class="nav-link active">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a id="about" href="about" class="nav-link">Hakkımda</a>
        </li>
        <li class="nav-item">
          <a id="blogs" href="blogs" class="nav-link">Güncel Konular</a>
        </li>
        <li class="nav-item">
          <a id="docs" href="docs" class="nav-link">Süreçler ve Dokümanlar</a>
        </li>
        <li class="nav-item">
          <a id="contact" href="contact" class="nav-link">İletişim</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
